.about-author__description {
  margin-left: 56px;
  max-width: 600px;
}

@media (max-width: 1024px) {
  .about-author__description {
    margin-left: 32px;
  }
}

@media (max-width: 700px) {
  .about-author__description {
    margin: 25px 0 0;
  }
}
