.search-results__button {
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  min-width: 288px;
  margin: 64px 0 0;
}

.search-results__button:hover {
  opacity: 0.9;
  box-shadow: 0 3px 10px rgba(8, 29, 45, 0.1);
}
@media (max-width: 880px) {
  .search-results__button {
    min-width: 240px;
    margin-top: 16px;
    margin-left: 16px;
  }
}
