.button {
  display: inline-block;
  border: none;
  border-radius: 100px;
  padding: 0;
  outline: none;
  min-height: 64px;
  cursor: pointer;
}
@media (max-width: 880px) {
  .button {
    min-height: 56px;
  }
}
