.about-author__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

@media (max-width: 1024px) {
  .about-author__paragraph {
    font-size: 18px;
    line-height: 24px;
  }
}
