@import url("./__date/commit__date.css");
@import url("./__user-info/commit__user-info.css");
@import url("./__user-pic/commit__user-pic.css");
@import url("./__name/commit__name.css");
@import url("./__email/commit__email.css");
@import url("./__message/commit__message.css");

.commit {
  width: 400px;
  height: 288px;
  background-color: #fff;
  color: #1a1b22;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
}

.commit:hover {
  box-shadow: 0 3px 10px rgba(8, 29, 45, 0.1);
}

@media (max-width: 800px) {
  .commit {
    width: 336px;
    height: 242px;
    position: relative;
    left: 40px;
  }
}

@media (max-width: 550px) {
  .commit {
    width: 336px;
    height: 242px;
    left: 20px;
  }
}

@media (max-width: 500px) {
  .commit {
    position: static;
    left: 0;
  }
}

@media (max-width: 425px) {
  .commit {
    width: calc(100% - 32px);
  }
}

@media (max-width: 320px) {
  .commit {
    width: 288px;
    height: 264px;
    padding: 16px;
  }
}
