.swiper-container {
  width: 100%;
}

@media (min-width: 800px) {
  .swiper-container::before {
    background: linear-gradient(270deg, rgba(245, 246, 247, 0), #f5f6f7);
    content: "";
    width: 88px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }

  .swiper-container::after {
    background: linear-gradient(90deg, rgba(245, 246, 247, 0), #f5f6f7);
    content: "";
    width: 88px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
  }
}
