.card__container {
  padding: 20px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

@media (max-width: 1050px) {
  .card__container {
    padding: 16px;
  }
}
