@import url("./__path-segment/breadcrumbs__path-segment.css");
@import url("./__root/breadcrumbs__root.css");
@import url("./__separator/breadcrumbs__separator.css");

.breadcrumbs {
  margin: 40px 104px 80px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

@media (max-width: 880px) {
  .breadcrumbs {
    margin: 32px 40px 64px;
  }
}

@media (max-width: 450px) {
  .breadcrumbs {
    display: none;
  }
}
