.about-author__pic {
  max-width: 464px;
  max-height: 464px;
  width: 40%;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .about-author__pic {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 700px) {
  .about-author__pic {
    width: 272px;
    height: 272px;
  }
}
