@import url("./__title/graph__title.css");
@import url("./__scale/graph__scale.css");
@import url("./__date-units/graph__date-units.css");
@import url("./__percentages/graph__percentages.css");
@import url("./__week/graph__week.css");
@import url("./__day/graph__day.css");
@import url("./__bar/graph__bar.css");
@import url("./__amount/graph__amount.css");

.graph {
  background-color: #f5f6f7;
  box-sizing: border-box;
  padding: 80px 104px;
  color: #1a1b22;
}

@media (max-width: 880px) {
  .graph {
    padding: 40px;
  }
}

@media (max-width: 450px) {
  .graph {
    padding: 24px 16px 34px;
  }
}
