@import url("./__title/search-results__title.css");
@import url("./__analytics-link/search-results__analytics-link.css");
@import url("./__heading/search-results__heading.css");
@import url("./__button/search-results__button.css");

.search-results {
  background-color: #f5f6f7;
  padding: 80px 104px;
  text-align: center;
}

@media (max-width: 1200px) {
  .search-results {
    padding: 40px;
  }
}

@media (max-width: 360px) {
  .search-results {
    padding: 32px 16px 44px;
  }
}
