.heading-section__arrow-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  color: #1a1b22;
}

.heading-section__arrow-link:hover {
  opacity: 0.5;
}

.heading-section__arrow-link::after {
  content: "";
  background-image: url("../../../images/back.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  top: 7px;
  left: 1px;
}
