@import url("./__title/main__title.css");
@import url("./__paragraph/main__paragraph.css");

.main {
  padding: 0 calc(50% - 304px);
  position: relative;
  z-index: 2;
}

@media (max-width: 880px) {
  .main {
    padding: 0 calc(50% - 225px);
  }
}

@media (max-width: 520px) {
  .main {
    padding: 0 calc(50% - 180px);
  }
}

@media (max-width: 430px) {
  .main {
    padding: 0 calc(50% - 150px);
  }
}

@media (max-width: 320px) {
  .main {
    padding: 0 calc(50% - 144px);
  }
}
