@import url("./__list/query__list.css");
@import url("./__mentions/query__mentions.css");
@import url("./__title/query__title.css");
@import url("./__total/query__total.css");

.query {
  margin: 0 104px 80px;
}

@media (max-width: 880px) {
  .query {
    margin: 0 40px 40px;
  }
}

@media (max-width: 450px) {
  .query {
    margin: 16px 16px 24px;
  }
}
