<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NewsAnalyzer</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
  </head>
  <body>
    <div class="root">
      <section class="lead-section">
        <header class="header header_theme_dark">
          <div class="header__content">
            <img
              class="header__logo"
              src="<%=require('../../images/NewsAnalyzer.svg').default%>"
              alt="NewsAnalyzer"
            />
            <nav class="menu header__menu">
              <ul class="menu__items">
                <li class="menu__item">
                  <a
                    class="header__link_theme_dark header__link_type_active header__link link"
                    href="/"
                  >
                    Главная
                  </a>
                </li>
                <li class="menu__item">
                  <a
                    class="header__link_theme_dark header__link link"
                    href="/about.html"
                    >О&nbsp;проекте</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </header>

        <main class="main">
          <h1 class="title main__title">
            Что в мире творится?
          </h1>
          <p class="main__paragraph">
            Введите в поиске любую тему и узнайте, насколько популярной она была
            в новостях за прошедшую неделю.
          </p>

          <form action="" class="search" autocomplete="off" novalidate>
            <input
              type="text"
              placeholder="Введите тему новости"
              class="search__input"
            />
            <button class="search__button button">Искать</button>
          </form>
        </main>
      </section>

      <section class="search-results">
        <div class="heading-section">
          <h2 class="heading-section__title title">Результаты&nbsp;поиска</h2>
          <a
            href="/analytics.html"
            class="search-results__analytics-link heading-section__arrow-link link"
            >Посмотреть аналитику</a
          >
        </div>

        <ul class="cardlist">
          <li class="cardlist__item">
            <a href="" class="card link"
              ><img
                src="<%=require('../../images/fishcontent.png').default%>"
                alt=""
                class="card__image"
              />
              <div class="card__container">
                <span class="card__date">2 августа, 2019</span>
                <h3 class="card__title title">
                  Национальное достояние – парки
                </h3>
                <p class="card__paragraph">
                  В 2016 году Америка отмечала важный юбилей: сто лет назад
                  здесь начала складываться система национальных парков –
                  охраняемых территорий, где и сегодня каждый может приобщиться
                  к природе.
                </p>
                <p class="card__source">Лента.ру</p>
              </div>
            </a>
          </li>
          <li class="cardlist__item">
            <a href="" class="card link"
              ><img
                src="<%=require('../../images/fishcontent.png').default%>"
                alt=""
                class="card__image"
              />
              <div class="card__container">
                <span class="card__date">2 августа, 2019</span>
                <h3 class="card__title title">
                  Национальное достояние – парки
                </h3>
                <p class="card__paragraph">
                  В 2016 году Америка отмечала важный юбилей: сто лет назад
                  здесь начала складываться система национальных парков –
                  охраняемых территорий, где и сегодня каждый может приобщиться
                  к природе.
                </p>
                <p class="card__source">Лента.ру</p>
              </div>
            </a>
          </li>
          <li class="cardlist__item">
            <a href="" class="card link"
              ><img
                src="<%=require('../../images/fishcontent.png').default%>"
                alt=""
                class="card__image"
              />
              <div class="card__container">
                <span class="card__date">2 августа, 2019</span>
                <h3 class="card__title title">
                  Национальное достояние – парки
                </h3>
                <p class="card__paragraph">
                  В 2016 году Америка отмечала важный юбилей: сто лет назад
                  здесь начала складываться система национальных парков –
                  охраняемых территорий, где и сегодня каждый может приобщиться
                  к природе.
                </p>
                <p class="card__source">Лента.ру</p>
              </div>
            </a>
          </li>
        </ul>

        <button class="button search-results__button">Показать еще</button>
      </section>

      <template id="search-status-loader">
        <div class="search-status">
          <i class="search-status__preloader"></i>
          <p class="search-status__message">Идет поиск новостей...</p>
        </div>
      </template>

      <template id="search-status-not-found">
        <div class="search-status">
          <img
            class="search-status__icon"
            src="<%=require('../../images/not-found.svg').default%>"
            alt=""
          />
          <h2 class="search-status__title title">Ничего не найдено</h2>
          <p class="search-status__message">
            К сожалению по вашему запросу ничего не найдено.
          </p>
        </div>
      </template>

      <section class="about-author root__container">
        <img
          src="<%=require('../../images/Resume.jpg').default%>"
          alt="Nina Nazarova"
          class="about-author__pic"
        />
        <div class="about-author__description">
          <h2 class="about-author__title title">Об авторе</h2>
          <p class="about-author__paragraph">
            Это блок с описанием автора проекта. Здесь следует указать, как вас
            зовут, чем вы занимаетесь, какими технологиями разработки владеете.
          </p>
          <p class="about-author__paragraph">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут
            научились, и чем можете помочь потенциальным заказчикам. Если
            хотите, оставьте свои контакты: email и телефон. Так заказчики
            смогут с вами связаться.
          </p>
        </div>
      </section>
      <footer class="footer">
        <p class="footer__copyright">&copy; 2020 Нина Назарова</p>
        <nav class="footer__menu menu">
          <ul class="menu__items menu__items_footer">
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="/">Главная</a>
            </li>
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="/about">О&nbsp;проекте</a>
            </li>
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="https://praktikum.yandex.ru/"
                >Яндекс.Практикум</a
              >
            </li>
          </ul>
        </nav>

        <ul class="footer__social social">
          <li class="social__item">
            <a
              href="https://github.com/ninanazarova"
              class="social__link social__link_github"
            ></a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/nazarovanina/"
              class="social__link social__link_facebook"
            ></a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</html>
