<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NewsAnalyzer</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
  </head>
  <body>
    <div class="root">
      <section class="lead-section">
        <header class="header header_theme_dark">
          <div class="header__content">
            <img
              class="header__logo"
              src="<%=require('../../images/NewsAnalyzer.svg').default%>"
              alt="NewsAnalyzer"
            />
            <nav class="menu header__menu">
              <ul class="menu__items">
                <li class="menu__item">
                  <a
                    class="header__link_theme_dark header__link_type_active header__link link"
                    href="/"
                  >
                    Главная
                  </a>
                </li>
                <li class="menu__item">
                  <a
                    class="header__link_theme_dark header__link link"
                    href="/about.html"
                    >О&nbspпроекте</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </header>
        <main class="main">
          <h1 class="main__title title">
            Что в мире творится?
          </h1>
          <p class="main__paragraph">
            Введите в поиске любую тему и узнайте, насколько популярной она была
            в новостях за прошедшую неделю.
          </p>

          <form action="" class="search" autocomplete="off" novalidate>
            <input
              type="text"
              placeholder="Введите тему новости"
              class="search__input"
            />
            <button class="search__button">Искать</button>
          </form>
        </main>
      </section>

      <template id="search-status-loader">
        <div class="search-status">
          <i class="search-status__preloader"></i>
          <p class="search-status__message">Идет поиск новостей...</p>
        </div>
      </template>

      <template id="search-status-not-found">
        <div class="search-status">
          <img
            class="search-status__icon"
            src="<%=require('../../images/not-found.svg').default%>"
            alt=""
          />
          <h2 class="search-status__title title">Ничего не найдено</h2>
          <p class="search-status__message">
            К сожалению по вашему запросу ничего не найдено.
          </p>
        </div>
      </template>

      <section class="about-author root__container">
        <img
          src="<%=require('../../images/Resume.jpg').default%>"
          alt="Nina Nazarova"
          class="about-author__pic"
        />
        <div class="about-author__description">
          <h2 class="about-author__title title">Об авторе</h2>
          <p class="about-author__paragraph">
            Это блок с описанием автора проекта. Здесь следует указать, как вас
            зовут, чем вы занимаетесь, какими технологиями разработки владеете.
          </p>
          <p class="about-author__paragraph">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут
            научились, и чем можете помочь потенциальным заказчикам. Если
            хотите, оставьте свои контакты: email и телефон. Так заказчики
            смогут с вами связаться.
          </p>
        </div>
      </section>
    </div>
  </body>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</html>
