.graph__percentages {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 14px;
  margin-left: 104px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

@media (max-width: 450px) {
  .graph__percentages {
    display: none;
  }
}
