.graph__scale {
  display: flex;
  border-bottom: 1px solid #1a1b22;
  color: #b6bcbf;
  font-size: 12px;
  line-height: 16px;
  margin-top: 48px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  height: 44px;
}

@media (max-width: 450px) {
  .graph__scale {
    height: 40px;
    margin-top: 14px;
    margin-bottom: 22px;
  }
}
