@import url("./__arrow-link/heading-section__arrow-link.css");
@import url("./_commits/heading-section_commits.css");
@import url("./__title/heading-section__title.css");

.heading-section {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 620px) {
  .heading-section {
    text-align: start;
    flex-direction: column;
  }
}
