.clients__paragraph {
  max-width: 820px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 24px 0;
}

@media (max-width: 800px) {
  .clients__paragraph {
    margin: 15px 0 24px;
  }
}
