<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NewsAnalyzer</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
  </head>
  <body>
    <div class="root">
      <header class="header header_theme_white root__container">
        <div class="header__content">
          <img
            class="header__logo"
            src="<%=require('../../images/NewsAnalyzer-black.svg').default%>"
            alt="NewsAnalyzer"
          />

          <nav class="menu header__menu">
            <ul class="menu__items">
              <li class="menu__item">
                <a class="header__link header__link_theme_white link" href="/">
                  Главная
                </a>
              </li>

              <li class="menu__item">
                <a
                  class="header__link header__link_theme_white header__link_type_active link"
                  href="/about.html"
                  >О&nbspпроекте</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="breadcrumbs">
        <span class="breadcrumbs__root">Главная</span>
        <span class="breadcrumbs__separator"> / </span>
        <span class="breadcrumbs__path-segment">Аналитика</span>
      </div>

      <section class="query">
        <h2 class="query__title title">
          Вы спросили: «<span class="query__word">Путешествия</span>»
        </h2>
        <ul class="query__list">
          <li class="query__total">
            Новостей за неделю: <span class="query__total_sum">34 324</span>
          </li>
          <li class="query__mentions">
            Упоминаний в загаловках:
            <span class="query__mentions_sum">235</span>
          </li>
        </ul>
      </section>

      <footer class="footer">
        <p class="footer__copyright">&copy; 2020 Нина Назарова</p>
        <nav class="footer__menu menu">
          <ul class="menu__items menu__items_footer">
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="/">Главная</a>
            </li>
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="/about">О&nbsp;проекте</a>
            </li>
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="https://praktikum.yandex.ru/"
                >Яндекс.Практикум</a
              >
            </li>
          </ul>
        </nav>

        <ul class="footer__social social">
          <li class="social__item">
            <a
              href="https://github.com/ninanazarova"
              class="social__link social__link_github"
            ></a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/nazarovanina/"
              class="social__link social__link_facebook"
            ></a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</html>
