<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NewsAnalyzer</title>
    <link
      rel="shortcut icon"
      href="<%=require('../../images/favicon.svg').default%>"
      sizes="any"
      type="image/svg"
    />
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>" />
  </head>
  <body>
    <div class="root">
      <header class="header header_theme_white root__container">
        <div class="header__content">
          <img
            class="header__logo"
            src="<%=require('../../images/NewsAnalyzer-black.svg').default%>"
            alt="Логотип"
          />

          <nav class="menu header__menu">
            <ul class="menu__items">
              <li class="menu__item">
                <a class="header__link header__link_theme_white link" href="./">
                  Главная
                </a>
              </li>

              <li class="menu__item">
                <a
                  class="header__link header__link_theme_white link"
                  href="./about.html"
                  >О&nbsp;проекте</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="breadcrumbs">
        <a href="./" class="breadcrumbs__root link">Главная</a>
        <span class="breadcrumbs__separator"> / </span>
        <span class="breadcrumbs__path-segment">Аналитика</span>
      </div>

      <section class="query">
        <h2 class="query__title title">
          Вы спросили: «<span class="query__word">Путешествия</span>»
        </h2>
        <ul class="query__list">
          <li class="query__total">
            Новостей за неделю: <span class="query__total_sum">34 324</span>
          </li>
          <li class="query__mentions">
            Упоминаний в загаловках:
            <span class="query__mentions_sum">235</span>
          </li>
        </ul>
      </section>

      <section class="graph">
        <h2 class="graph__title title">Аналитика по дням</h2>

        <div class="graph__scale">
          <div class="graph__date-units">
            Дата<span class="graph__month">(Август)</span>
          </div>
          <span class="graph__mention-units">Кол-во упоминаний</span>
        </div>

        <div class="graph__chart">
          <div class="graph__percentages">
            <div class="graph__percent">0</div>
            <div class="graph__percent">25</div>
            <div class="graph__percent">50</div>
            <div class="graph__percent">75</div>
            <div class="graph__percent">100</div>
          </div>

          <div class="graph__week">
            <div class="graph__day">
              <span class="graph__date">19, пн</span>
              <div class="graph__bar" style="width: 15%;">
                <span name="amount" class="graph__amount">15</span>
              </div>
            </div>
            <div class="graph__day">
              <span class="graph__date">20, вт</span>
              <div class="graph__bar" style="width: 25%;">
                <span name="amount" class="graph__amount">25</span>
              </div>
            </div>
            <div class="graph__day">
              <span class="graph__date">21, ср</span>
              <div class="graph__bar" style="width: 75%;">
                <span name="amount" class="graph__amount">75</span>
              </div>
            </div>
            <div class="graph__day">
              <span class="graph__date">22, чт</span>
              <div class="graph__bar" style="width: 45%;">
                <span name="amount" class="graph__amount">45</span>
              </div>
            </div>
            <div class="graph__day">
              <span class="graph__date">23, пт</span>
              <div class="graph__bar" style="width: 10%;">
                <span name="amount" class="graph__amount">10</span>
              </div>
            </div>
            <div class="graph__day">
              <span class="graph__date">24, сб</span>
              <div class="graph__bar" style="width: 30%;">
                <span name="amount" class="graph__amount">30</span>
              </div>
            </div>
            <div class="graph__day">
              <span class="graph__date">25, вс</span>
              <div class="graph__bar" style="width: 60%;">
                <span name="amount" class="graph__amount">60</span>
              </div>
            </div>
          </div>
          <div class="graph__percentages">
            <div class="graph__percent">0</div>
            <div class="graph__percent">25</div>
            <div class="graph__percent">50</div>
            <div class="graph__percent">75</div>
            <div class="graph__percent">100</div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <p class="footer__copyright">&copy; 2020 Нина Назарова</p>
        <nav class="footer__menu menu">
          <ul class="menu__items menu__items_footer">
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="./">Главная</a>
            </li>
            <li class="menu__item menu__item_footer">
              <a class="footer__link link" href="./about.html"
                >О&nbsp;проекте</a
              >
            </li>
            <li class="menu__item menu__item_footer">
              <a
                class="footer__link link"
                href="https://praktikum.yandex.ru/"
                target="_blank"
                >Яндекс.Практикум</a
              >
            </li>
          </ul>
        </nav>

        <ul class="footer__social social">
          <li class="social__item">
            <a
              href="https://github.com/ninanazarova"
              class="social__link social__link_github link"
              target="_blank"
            ></a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/nazarovanina/"
              class="social__link social__link_facebook link"
              target="_blank"
            ></a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
  </body>
</html>
