@import url("./_right/commits__button_right.css");

.commits__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1a1b22;
  background-image: url("../../../images/back-white.svg");
  background-repeat: no-repeat;
  background-position: 45%;
  box-shadow: 0 3px 10px rgba(14, 26, 57, 0.2);
  cursor: pointer;
}

@media (max-width: 800px) {
  .commits__button {
    display: none;
  }
}
