@import url("./__title/clients__title.css");
@import url("./__paragraph/clients__paragraph.css");

.clients {
  padding: 80px 104px 72px;
  color: #1a1b22;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .clients {
    padding: 60px;
  }
}

@media (max-width: 800px) {
  .clients {
    padding: 30px 40px;
  }
}

@media (max-width: 500px) {
  .clients {
    padding: 16px;
  }
}
