@import url("./__pagination/commits__pagination.css");
@import url("./__github-link/commits__github-link.css");
@import url("./__github-button/commits__github-button.css");
@import url("./__button/commits__button.css");
@import url("./__bullet/commits__bullet.css");
@import url("./__bullet/_active/commits__bullet_active.css");

.commits {
  background-color: #f5f6f7;
  padding: 72px 0 80px;
}

@media (max-width: 1050px) {
  .commits {
    padding: 60px 0 60px;
  }
}

@media (max-width: 800px) {
  .commits {
    padding: 40px 0;
  }
}

@media (max-width: 500px) {
  .commits {
    padding: 32px 0;
  }
}
